<div id="footer", class="navbar navbar-fixed-bottom">
  <small class="disclaimer">
     Quoth.Me is a product by <%= link_to "DeadSuperHero", "http://deadsuperhero.com" %>. All content belongs to the original content authors. Quoth.Me claims no ownership of any quotes, branding, or intellectual property.
  </small class="disclaimer">
</div>